@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,400;1,700&family=IBM+Plex+Sans&family=IBM+Plex+Sans+Thai+Looped&family=Inter&family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #010b17;
}

p {
    color: white;
}

#cabecalho_Pagina {
    margin: 0;
    border: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ff0000de;
}

#btn_voltar {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#h1_consultoria {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#banner {
    width: 100vw;
    box-shadow: 0px 15px 40px 1px rgba(8, 77, 178, 0.45);
}

#apresentacao {
    text-align: center;
    margin-bottom: 25px;
}

header p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    padding: 0 18px;
}

header h1 {
    font-family: inter, sans-serif;
    color: #fff;
    font-weight: bold;
}

                    /* CONTEUDO PRINCIPAL */

#lista_veiculos {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 96vw;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px -3px 40px 6px rgba(255, 0, 0, 0.45);
    border: 1px solid #F4F4FF;
    background-color: #E21F1F;
    display: block;
    text-align: center;
}

.lista_titulo {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.lista {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.card_Moto {
    width: 315px;
    height: 350px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4FF;
   /* transition: all 300ms;*/
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
}

/*
.card_Moto:hover {
 transform: scale(1.10);
 background-color: rgb(255, 255, 255);
 box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
}*/

.btn_Saiba_Mais {
    border: 0;
    background-color: transparent;
    display: flex;
    position: relative;
    top: 16.9em;
    left: 6.9em;
    cursor: pointer;
}

.img_Saiba_Mais {
    width: 30px;
    height: 30px;
}

.moto_Nome {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1em;
    text-align: center;
    width: 16rem;
    margin-bottom: -20px;
    margin-top: 43px;
}

.btn_Tenho_Interesse {
    width: 175px;
    height: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    color: #fff;
    background: rgba(255, 58, 58, 0.893);
    border: 0;
    transition: all 400ms;
}

/*.btn_Tenho_Interesse:hover {
    background: rgba(255, 0, 0, 0.893);
    box-shadow: inset -3px -2px 12px 3px #000000b5;
    border: solid 2px rgb(0, 0, 0);
    cursor: pointer;
}

.btn_Tenho_Interesse:before {
    content: "»";
    opacity: 0;
    margin-left: -15px;
    margin-right: 10px;
    transition-duration: 0.2s;
}

.btn_Tenho_Interesse:hover:before {
    margin-left: 0px;
    opacity: 1;
}*/

.moto_Img {
    max-width: 280px;
    max-height: 165px;
    margin-bottom: 30px;
}

                /* SEÇÃO INFORMAÇÕES DA MOTO */

#veiculo_Informacoes {
    width: 100%;
    height: 100%;
    background-color: #1e0628db;
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    padding: 40px 0;
    box-sizing: border-box;
}

#veiculo_Informacoes_Box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
    height: 85vh;
    padding: 15px 25px;
    box-sizing: border-box;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #aaaaaa, #b9b9b9, #c9c9c9, #d9d9d9, #e9e9e9, #e8e8e8, #e8e8e8, #e7e7e7, #d5d5d5, #c3c3c3, #b2b2b2, #a1a1a1);
    z-index: 20;
    border: 1.5px groove red;
}

#veiculo_imgs_cores, #veiculo_informacoes_detalhadas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: auto;
}

#btn_Fecha_Informacoes {
    border: 0;
    background: transparent;
    margin-left: auto;
    margin-bottom: 10px;
}

#btn_Fecha_Informacoes, #icon_fechar {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#veiculo_imgs_cores {
    margin-bottom: 30px;
    height: 20rem;
}

#veiculo_imgs_cores #img_MotoExemplo {
    max-height: 100%;
    max-width: 100%;
}

.box_informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'DM Sans', sans-serif;
    width: 17rem;
    height: 14rem;
}

.box_informacoes p {
   font-size: 0.9rem;
   text-align: center;
   color: darkred;
   font-weight: bold;
   font-style: italic;
}

                    /* SEÇÃO INFORMAÇÕES ADICIONAIS */

aside#videos_informativos {
    width: 90%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}  

.secao_SaibaMais {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0 50px 0;
}

.secao_SaibaMais #titulo_SaibaMais {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#breakRow {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #F4F4FF;    
}

.breve_informacao_video {
    margin-top: 20px;
}

.titulo_Videos {
    color: #fff;
    font-size: 2em;
    font-family:  Roboto, sans-serif;
}

.frase_Video {
    font-size: 1.3em;
    font-family: 'IBM Plex Sans', sans-serif;
}

#breakRow_Red {
    width: 40%;
    height: 3px;
    margin: 3rem auto;
    border: 0;
    background-color: #E21F1F;    
}

iframe {
    margin: 0 auto;
    width: 240px;
    height: 240px;
}

#contato {
    margin-top: 20px;
    padding-top: 10px;
    width: 100vw;
    background-color: #F4F4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#titulo_contato {
    font-family: inter, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

#p_contato {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    color: #000000;
    margin-bottom: 20px;
}

#inot_Nome, #input_Assunto, #input_Mensagem {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    color: rgba(198, 198, 198, 0.79);
}

#input_Nome, #input_Assunto {
    box-sizing: border-box;
    width: 300px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid rgba(186, 183, 183, 0.4);
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#input_Mensagem {
    width: 285px;
    height: 93px;
    background: #FFFFFF;
    border: 1px solid rgba(186, 183, 183, 0.4);
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px; 
}

#btn_contato {
    width: 145px;
    height: 24px;
    background: #E21F1F;
    border-radius: 7px;
    margin-left: 9.5rem;
    border: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

#img_bike_man {
    margin: 0 auto;
    width: 240px;
    height: 240px;
}