@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,400;1,700&family=IBM+Plex+Sans&family=IBM+Plex+Sans+Thai+Looped&family=Inter&family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #010b17;
}

#veiculo_Informacoes_Box::-webkit-scrollbar, #conteudo_Interesse::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

p {
    color: white;
}

#cabecalho_Pagina {
    margin: 0;
    border: 0;
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #ff0000de;
}

#btn_voltar, #logomarca_Ricardo {
    margin: 5px;
}

#h1_consultoria {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
}

#logomarca_Ricardo {
    width: 30%;
    height: auto;
}

#banner {
    display: block;
    margin: 10px auto;
    width: 99vw;
    box-shadow: 0px 15px 40px 1px rgb(8 77 178 / 45%);
}

#apresentacao {
    text-align: center;
    margin-bottom: 25px;
}

header p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    padding: 0 18px;
}

header h1 {
    font-family: inter, sans-serif;
    color: #fff;
    font-weight: bold;
}

                    /* CONTEUDO PRINCIPAL */

#lista_Interesses {
    width: 65px;
    height: auto;
    display: none;
    z-index: 26;
    position: sticky;
    left: 2rem;
}

#esfera_notificacao {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3rem;
    height: 1.3rem;
    left: 2.6rem;
    bottom: 2.7rem;
    z-index: 11;
    background: #F87676;
    border: 1px solid #000000;
    border-radius: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

#btn_Interesses {
    width: 4rem;
    height: 4rem;
}

img#icon_interesse {
    width: 50px;
    height: 50px;
}

#lista_veiculos {
    margin: 0px auto;
    padding-bottom: 20px;
    width: 96vw;
    height: auto;
    border-radius: 30px;
    box-shadow: 0px -3px 40px 6px rgba(255, 0, 0, 0.45);
    border: 1px solid #F4F4FF;
    background-color: #E21F1F;
    display: block;
    text-align: center;
}

.lista_titulo {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.lista {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.card_Moto {
    width: 278px;
    height: 359px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4FF;
    border-radius: 5px;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 20%);
    justify-content: space-between;
}

img.checked_Icon {
    visibility: hidden;
    position: relative;
    right: 7.3rem;
    padding: 0;
    width: 30px;
    height: 40px;
}

.moto_Nome {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1em;
    text-align: center;
    width: auto;
    padding-top: 0;
    margin: 0;
}

.btn_Saiba_Mais {
    width: 175px;
    height: 40px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    background: #E21F1F;
    margin-bottom: 2rem;
}

.moto_Img {
    max-width: 280px;
    max-height: 165px;
    margin-bottom: 5px;
}

                /* SEÇÃO INFORMAÇÕES DA MOTO */

#veiculo_Informacoes {
    width: 100%;
    height: 100%;
    background-color: #000000e0;
    overflow: hidden;
    position: fixed;
    display: none;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 25;
    padding: 0;
    box-sizing: border-box;
}

#veiculo_Informacoes_Box {
    overflow: scroll;
    position: relative;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    background: #F4F4FF;
    border-radius: 30px 30px 0 0;
    z-index: 20;
    animation: entrance 0.75s ease 0s 1 normal none;
}

@keyframes entrance {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#veiculo_imgs_cores, #veiculo_informacoes_detalhadas {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: space-around;
}

#veiculo_imgs_cores {
    margin-bottom: 30px;
    margin-top: 80px;
    padding: 20px;
}

#topo_Informacoes {
    position: fixed;
    width: 100vw;
    height: 79px;
    display: flex;
    z-index: 10;
    align-items: center;
    padding: 0;
    gap: 45px;
    background: #E21F1F;
    box-shadow: 0px 0px 17px 11px rgb(0 0 0 / 20%);
    border-radius: 30px 30px 0px 0px;
}

#topo_Informacoes h1, #barra_Navegacao h1 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin-left: 5.5rem;
}

#icon_fechar {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

div#slide_imgs {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#slide_imgs .img_MotoExemplo {
    width: 209px;
    height: 150px;
    max-height: 100%;
    max-width: 100%;
    margin: 0px 0;
}

#traseiraDir, #TraseiraEsq {
    visibility: hidden;
}

.prev,
.next {
  cursor: pointer;
  min-width: 14vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d9d9d97d;
  font-weight: bold;
  font-size: 1.6em;
  border-radius: 5px;
  user-select: none;
  -webkit-user-select: none;
}

#veiculo_opcoes_cores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nome_Moto {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: bold;
    font-size: 2.7em;
    color: #000000;
    letter-spacing: 4px;
    margin: 15px 0 0;
}

#lista_Cores{
    padding: 0;
    margin: 15px auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

#lista_Cores li{
    list-style: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4em;
    margin-bottom: 10px;
}

[type="checkbox"], [type="radio"] {
    width: 40px;
    height: 20px;
}

#whatsapp {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    gap: 0.5rem;
    width: 84vw;
    max-width: 25rem;
    height: 70px;
    border-radius: 10em;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-image: linear-gradient(45deg, #1ff54a, #1bd741, #16b436);
}

#whatsapp #icon_whats{
    background-color: #ffffff86;
  height: 55px;
  width: 55px;
  border-radius: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#whatsapp .name_button {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

.btn_listaInteresse {
    width: 84vw;
    max-width: 25rem;
    height: 70px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    border-radius: 10em;
    border: 0;
    color: #000;
    font-weight: 600;
    background: #1ad600e3;
    margin: 1rem auto;
}

.box_informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: 'DM Sans', sans-serif;
    width: 17rem;
    height: 14rem;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 0 10px;
    padding: 21px 4px;
}

.box_informacoes p {
   font-size: 1.2rem;
   text-align: center;
   color: darkred;
   font-weight: bold;
   font-style: italic;
}

.box_informacoes h1 {
    font-size: 2em;
    margin: 0.3em 0;
}
                    /*  SEÇÃO LISTA DE INTERESSES*/

#secao_ListaInteresse {
    width: 100%;
    height: 100%;
    background-color: #000000e0;
    position: fixed;
    display: none;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 25;
    padding: 0px 5px;
    box-sizing: border-box;
}

#conteudo_Interesse {
    box-sizing: border-box;
    overflow: scroll;
    min-width: 95vw;
    height: 85vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 30px 30px 0px 0px;
    background: #F4F4FF;
    animation: entrance 0.75s ease 0s 1 normal none;
}

@keyframes entrance {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#barra_Navegacao {
    width: 95vw;
    height: 26vh;
    border-radius: 25px;
    position: absolute;
    background-image: url('../img/barra_topo_BG.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin: -2px;
}

#icon_Interesse {
    position: absolute;
    display: none;
    top: 0.5rem;
    left: 0.5rem;
}

#titulo_Navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#barra_Navegacao h1 {
    margin-left: 30px;
}

#btn_Fecha_Interesses {
    width: 30px;
    height: 30px;
}

#motos_Em_Interesse {
    width: 90vw;
    height: auto;
    margin: 15rem auto 2rem;
}

.interesse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 7px;
    margin-bottom: 20px;
    gap: 12px;
    min-width: 84vw;
    height: 3rem;
    background: #FFFFFF;
    border: 1px solid rgba(198, 198, 198, 0.79);
    box-shadow: 0px 0px 17px 11px rgb(0 0 0 / 20%);
    border-radius: 10px;
}

.quadrado {
    width: 10px;
    height: 10px;
    background: #010B17;
}

div#moto_NomeCor {
    display: block;
    margin-right: auto;
}

.interesse p {
    text-align: start;
    color: #000000;
    margin: 7px auto;
}

.interesse #moto_Nome {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 0.96em;
}

.interesse #moto_Cor {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

.deletar_interesse {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

div#btn_chatWhatsapp {
    margin: 0.5rem auto 2rem;
}

button#btn_enviar {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(45deg, #1ff54a, #1bd741, #16b436);
    color: #fff;
    padding: 0.7em 1em;
    display: flex;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
   }
   
button#btn_enviar span#enviar {
    display: block;
    margin-left: 0.3em;
}
   
button#btn_enviar img#icon_enviar {
    display: block;
    transform-origin: center;
    transform: rotateZ(-50deg);
    padding-bottom: 6px;
}

                    /* SEÇÃO VÍDEOS E INFORMAÇÕES ADICIONAIS */

aside#videos_informativos {
    width: 90%;
    display: block;
    text-align: center;
    margin: 0px auto;
}  

.secao_SaibaMais {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px 0 50px 0;
}

.secao_SaibaMais #titulo_SaibaMais {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#breakRow {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: #F4F4FF;    
}

.breve_informacao_video {
    margin-top: 20px;
}

.titulo_Videos {
    color: #fff;
    font-size: 2.3em;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.frase_Video {
    font-size: 1.3em;
    font-family: 'DM Sans', sans-serif;
}

#breakRow_Red {
    width: 40%;
    height: 3px;
    margin: 3rem auto;
    border: 0;
    background-color: #E21F1F;    
}

.video {
    aspect-ratio: 16/9;
}

iframe {
    margin: 10px auto;
    width: 100%;
    max-width: 50rem;
    height: 100%;
    max-height: 30rem;
}

#contato {
    padding-top: 10px;
    width: 99vw;
    margin: 20px auto;
    background-color: #F4F4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div#container_mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo_contato {
    font-family: inter, sans-serif;
    font-size: 2em;
    font-weight: bold;
}

#p_contato {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    color: #000000;
    margin-bottom: 20px;
}

#input_Nome, #input_Assunto, #input_Mensagem {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

#input_Nome, #input_Assunto {
    box-sizing: border-box;
    width: 300px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid rgba(186, 183, 183, 0.4);
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#input_Mensagem {
    width: 285px;
    height: 93px;
    background: #FFFFFF;
    border: 1px solid rgba(186, 183, 183, 0.4);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; 
}

#btn_Contato {
    width: 145px;
    height: 24px;
    background: #E21F1F;
    border-radius: 7px;
    margin-left: 9.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}

#container_imagens {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#img_bike_man {
    margin: 0 auto;
    width: 170px;
    height: 175px;
}

#img_traffic_light {
    margin: 0 auto;
    width: 110px;
    height: 15rem;
}

footer#footer_copyright {
    height: 2rem;
    margin: auto;
    text-align: center;
}

footer#footer_copyright p {
   font-family: 'IBM Plex Sans Thai Looped', sans-serif;
   margin-top: 0.5rem;
}

/*    SCREEN SIZE     */
@media only screen and (min-width: 340px) {
    #h1_consultoria {
        font-size: 1.5em;
    }

    #logomarca_Ricardo {
        width: 40%;
        height: auto;
    }

    #topo_Informacoes {
        justify-content: space-around;
    }

    #whatsapp {
        gap: 1.5rem;
    }

    .interesse {
        height: 4rem;
    }

    #titulo_Navegacao {
        justify-content: flex-end;
        gap: 35px;
    }

    #btn_Fecha_Interesses {
        margin: 10px;
    }
}

@media only screen and (min-width: 481px) {
    #h1_consultoria {
        font-size: 2em;
    }

    #logomarca_Ricardo {
        width: 30%;
    }

    #topo_Informacoes {
        height: 83px;
        gap: 22vw;
        justify-content: flex-end;
    }

    #topo_Informacoes h1, #barra_Navegacao h1 {
        font-size: 1.6em;
    }

    #slide_imgs .img_MotoExemplo {
        width: 262px;
        height: 161px;
    }

    .prev, .next {
        min-width: 3.5rem;
        height: 80px;
    }

    button#btn_Fecha_Informacoes {
        margin: 15px;
    }

    #whatsapp {
        gap: 2.5rem;
    }

    #lista_Interesses {
        left: 1rem;
        top: 3rem;
    }
    
    #esfera_notificacao {
        width: 1.6rem;
        height: 1.6rem;
        left: 3rem;
        bottom: 2.7rem;
        font-size: 18px;
        padding: 1.5px;
    }
    
    img#icon_interesse {
        width: 67px;
        height: 65px;
    }

    #titulo_Navegacao {
        gap: 15vw;
    }

    #barra_Navegacao {
        width: 95vw;
        min-height: 7rem;
        max-height: 8rem;
        z-index: 10;
        display: flex;
        align-items: center;
        padding: 0;
        border-radius: 25px 25px 0px 0px;
        background: #E21F1F;
        justify-content: flex-end;
    }

    #btn_Fecha_Interesses {
        margin: 15px;
    }

    #icon_Interesse {
        display: flex;
        top: 1.3rem;
        filter: drop-shadow(0 0 0.2rem #00000030);
    }

    #motos_Em_Interesse {
        margin: 12rem auto 2rem;
    }

    .interesse {
        height: 5.5rem;
        gap: 25px;
    }
    
    .interesse #moto_Nome {
        font-size: 1.3em;
    }
    
    .interesse #moto_Cor {
        font-size: 1.2em;
    }
    
    .quadrado {
        width: 15px;
        height: 15px;
    }
    
    .deletar_interesse {
        width: 55px;
        height: 55px;
        background: #D9D9D9;
        border-radius: 7.0132px;
        margin-right: 5px;
    }

    .deletar_interesse:hover{
        background: #adadad;
    }
    
    img#icon_remover {
        width: 30px;
        height: 30px;
    }
} 

@media only screen and (min-width: 769px) {
    #icon_voltar {
        width: 3rem;
    }

    #h1_consultoria {
        font-size: 2.5em;
    }

    #logomarca_Ricardo {
        width: 25%;
    }

    .btn_Saiba_Mais:hover {
        box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #00000040;
        transform: translateY(-0.1em);
    }

    .btn_Saiba_Mais:active {
        box-shadow: inset 0px 0.1em 0.6em #00000040;
        transform: translateY(0em);
    }

    #topo_Informacoes { 
        gap: 14rem;
    }

    div#slide_imgs {
        width: 48vw;
        max-width: 30rem;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #topo_Informacoes h1, #barra_Navegacao h1 {
        font-size: 2.4em;
    }

    #topo_Informacoes h1 {
        font-size: 2.5em;
        text-align: center;
        width: 54%;
    }

    button#btn_Fecha_Informacoes, #btn_Fecha_Interesses {
        background: #f3f2f2;
        border-radius: 25rem;
        width: 3rem;
        height: 3rem;
        border: 2px solid #c31d1a;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }

    button#btn_Fecha_Informacoes:hover, #btn_Fecha_Interesses:hover {
        background: #ae322e;
        border: 2px solid #1e0202;
    }

    #lista_Interesses {
        left: 2rem;
    }

    .next { 
        right: 50rem;
    }

    .prev, .next {
        min-width: 3.5rem;
        height: 80px;
    }

    .prev:hover, .next:hover {
        background: #949090;
    }

    .prev:active, .next:active {
        box-shadow: inset 0px 0.1em 0.6em #00000040;
        transform: translateY(0em);
    }


    #slide_imgs .img_MotoExemplo {
        width: 400px;
        height: 237.9px;
    }

    #nome_Moto {
        width: 17rem;
    }

    .btn_listaInteresse, #whatsapp {
        width: 36vw;
        overflow: hidden;
    }

    .btn_listaInteresse:hover, #whatsapp:hover {
        background: #19f809;
    }

    .btn_listaInteresse:active, #whatsapp:active {
        box-shadow: inset 0px 0.4em 0.8em #00000040;
        transform: translateY(0em);
    }

    #whatsapp {
        gap: 0.1rem;
    }

    #whatsapp .name_button {
        width: 24vw;
    }

    #input_Nome, #input_Assunto {
        width: 25rem;
        height: 3rem;
    }

    #input_Mensagem  {
        width: 25rem;
        padding: 5px;
    }

    #btn_Contato {
        width: 150px;
        height: 30px;
        margin-left: 15.5rem;
    }

    #titulo_Navegacao {
        gap: 13rem;
    }

    #btn_Fecha_Interesses {
        margin: 15px;
    }

    #barra_Navegacao {
        border: 2px solid #2e1018;
    }

    button#btn_enviar {
        width: 20rem;
        justify-content: center;
    }

    .video {
        aspect-ratio: 18/10;
    }

    #breakRow_Red {
        margin: 1rem auto;
    }

    #btn_Contato:hover {
        box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #00000040;
        transform: translateY(-0.1em);
    }
    
    #btn_Contato:active {
        box-shadow: inset 0px 0.1em 0.6em #00000040;
        transform: translateY(0em);
    }
}

@media only screen and (min-width: 1279px) {
    #icon_voltar {
        width: 4em;
    }

    #h1_consultoria {
        font-size: 3.5em;
    }

    #logomarca_Ricardo {
        width: 20%;
    }

    header h1 {
        font-size: 4rem;
    }

    header p {
        font-size: 2em;
        padding: 0 42px;
    }

    #esfera_notificacao {
        width: 2.1rem;
        height: 2.1rem;
        font-weight: 600;
        font-size: 1.3em;
    }

    #lista_Interesses {
        left: 2rem;
    }

    .lista_titulo{
        font-size: 3.5em;
        margin: 0.67em;
    }

    .card_Moto {
        width: 325px;
        height: 390px;
        margin: 15px 18px;
        transition: all 0.2s ease-in;
    }

    .card_Moto:hover {
        transform: translateY(-1rem);
        box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
    }
       
    
    .moto_Nome {
        font-size: 1.8em;
    }

    .moto_Img {
        max-width: 300px;
        max-height: 190px;
    }

    img.checked_Icon {
        right: 8.3rem;
        margin: 5px;
        width: 37px;
        height: 40px;
    }

    .btn_Saiba_Mais {
        width: 195px;
        height: 46px;
        font-size: 1.3em;
    }

    #topo_Informacoes {
        height: 92px;
    }

    #topo_Informacoes h1, #barra_Navegacao h1 {
        font-size: 2.2em;
    }

    #icon_fechar {
        width: 30px;
        height: 30px;
    }

    .next {
        right: 61rem;
    }

    #slide_imgs .img_MotoExemplo {
        width: 500px;
        height: 322.9px;
    }

    [type="checkbox"], [type="radio"] {
        width: 48px;
        height: 24px;
    }

    #nome_Moto {
        font-size: 3.2em;
        width: 30rem;
    }

    .btn_listaInteresse {
        font-size: 1.3em;
    }

    #whatsapp, .btn_listaInteresse {
        height: 70px;
    }

    #whatsapp .name_button {
        width: 20vw;
        font-size: 2em;
    }

    #veiculo_imgs_cores {
        margin-bottom: 14px;
    }

    .box_informacoes {
        justify-content: space-between;
        font-size: 1em;
        width: 18rem;
        height: 14.5rem;
    }

    .box_informacoes h1 {
        font-size: 2.2em;
    }

    #icon_Interesse {
        width: 7rem;
    }

    .interesse {
        margin: 1rem auto;
        height: 6.5rem;
    }

    .quadrado {
        width: 20px;
        height: 20px;
        margin-left: 15px;
    }

    .interesse #moto_Nome {
        font-size: 2em;
    }

    .interesse #moto_Cor {
        font-size: 1.4em;
    }

    .deletar_interesse {
        width: 66px;
        height: 66px;
    }

    img#icon_remover {
        width: 40px;
        height: 40px;
    }

    button#btn_enviar {
        width: 20rem;
        height: 4rem;
    }

    button#btn_enviar span#enviar {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
    }

    button#btn_enviar:hover span#enviar {
        transform: translateX(10em);
    }
       
    button#btn_enviar:active {
        transform: scale(0.95);
    }
       
    #btn_enviar .svg-wrapper {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    button#btn_enviar:hover .svg-wrapper  {
        transform: translateX(6rem) rotate(0deg) scale(1.1);
    }
       
    button#btn_enviar:hover #icon_enviar  {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    @keyframes fly-1 {
        from {
            transform: translateY(0.1em);
        }
        
        to {
            transform: translateY(-0.1em);
        }
    }

    button#btn_enviar img#icon_enviar {
        width: 2rem;
    }

    button#btn_enviar span#enviar {
        font-size: 1.5em;
    }

    .secao_SaibaMais #titulo_SaibaMais {
        font-size: 3.5em;
    }

    .titulo_Videos {
        font-size: 3.3em;
    }

    .frase_Video {
        font-size: 1.7em;
        width: 46rem;
        margin: 0px auto;
    }

    .video {
        aspect-ratio: 24/7;
    }

    #contato {
        height: 31rem;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-around;
    }

    div#container_mensagem {
        padding: 4rem;
    }

    #titulo_contato {
        font-size: 2.6em;
    }

    #p_contato {
        font-size: 1.3em;
        width: 32rem;
    }

    #input_Nome, #input_Assunto {
        height: 4rem;
    }

    #input_Nome, #input_Assunto, #input_Mensagem {
        width: 30rem;
    }

    #img_bike_man {
        width: 280px;
        height: 230px;
    }
    
    #img_traffic_light {
        margin: 0 auto;
        width: 160px;
        height: 25rem;
    }

    #btn_Contato {
        width: 167px;
        height: 40px;
        margin-left: 19.5rem;
        font-size: 1.5em;
    }
}