/*Resetando valores*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header,
section,
aside,
main,
footetr {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p::selection,
h1::selection,
span::selection {
  background-color: #ec0202;
  color: #ffffff;
}

button,
input {
  border: 0;
}

button:focus,
input:focus {
  border: 0;
}

span {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
}

body {
  background-color: #111010;
  padding: 0;
  margin: 0;
}

/*Estilizando scroll*/
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
}

.Typewriter__cursor {
  color: #ff0000;
  margin: 0;
  padding: 0;
}

.Typewriter__wrapper {
  color: #ff0000;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

/*--Estilizando pagina--*/

/*   ***Sessao 1*** */
header#secao_cabecalho {
  display: block;
}

img#banner {
  -webkit-box-reflect: below 1px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  width: 100%;
  max-height: 320px;
}

div#divisoria {
  height: 5px;
  background: #000000cc;
}

#secao_cartao_apresentacao {
  display: flex;
  background-color: #ff0000;
  width: 100%;
  min-height: 414px;
  overflow: hidden;
}



img#polygon1 {
  width: 100%;
  height: auto;
  position: relative;
  left: 20vw;
}

#container_image {
  width: 34%;
  height: auto;
}

#container_informacoes_cartao {
  width: 66%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}

#informacoes_cartao {
  left: 25vw;
  top: 13vh;
}

#informacoes_cartao h1 {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  text-align: start;
  font-weight: bold;
  width: auto;
}

#info_cartao_ola,
#info_cartao_profissao {
  font-size: 0.7em;
}

.info_cartao_nome {
  font-size: 1.6em;
}

#logo_honda {
  width: 122px;
  height: 110px;
  position: relative;
  left: 26em;
  top: 13.5em;
}

#conteudo_sobre {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 300px;
  margin-left: 60px;
  margin-top: 35px;
  padding-top: 16px;
  text-align: center;
  background-color: #070c0c;
}

#spn_frase,
#span_btn_insta {
  font-style: italic;
  font-size: 1.4em;
}

#btn_insta {
  margin-top: 15px;
  width: 341px;
  height: 56px;
  cursor: pointer;
  background: linear-gradient(
    95deg,
    #002296,
    #82008f,
    #c0007a,
    #ea0c5f,
    #ff5341,
    #ff8820,
    #d3a313,
    #002296
  );
  background-size: 300%;
  border-radius: 30px;
}

#btn_insta:hover {
  animation: ani 5s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#span_btn_insta {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: 600;
}

span#span_btn_insta:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button#btn_insta:hover span#span_btn_insta {
  padding-right: 15px;
}

button#btn_insta:hover span#span_btn_insta:after {
  opacity: 1;
  right: 0;
}

#p_sobre_mim {
  margin: 90px 0 0 0;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

#titulo_atendimento {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  width: 39vw;
  margin-bottom: 10px;
}

.cards_atendimento {
  background-color: rgba(255, 255, 255, 0.863);
  margin: 55px 40px 15px 0px;
  width: 290px;
  height: 260px;
  padding: 20px;
  border-radius: 1rem;
  border: #037c83c0 2px solid;
  transition: all 0.2s ease-in;
  box-shadow: 0.4rem 0.4rem 0.9rem #05535efd;
}

.cards_atendimento:hover {
  margin: 50px 40px 15px 0px;
  border: #f2295be7 2px solid;
  border-radius: 2.5rem 0 2.5rem 0;
  box-shadow: 0.6rem 0.4rem 0.9rem #f2295bf6;
}

.titulo_card,
.texto_card {
  text-align: center;
}

.titulo_card {
  padding-bottom: 12px;
  font-weight: bold;
  font-style: italic;
  font-family: "DM Sans", sans-serif;
}

.texto_card {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  white-space: normal;
  overflow: hidden;
}

.cards_atendimento > :is(a) {
  position: relative;
  top: 31px;
}

.btn_acesso {
  background-color: #bb0101;
  color: #ffffff;
  font-size: 1em;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  width: 235px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cards_atendimento:hover .btn_acesso {
  transform: translateY(-10px);
  border-radius: 2.5rem 0 2.5rem 0;
  box-shadow: 0rem 0.2rem 0rem #000000fd;
}

.cards_atendimento:hover .btn_acesso:active {
  box-shadow: inset -0.2rem -0.1rem 0.3rem #000000fd, inset 0 0 0.5rem #000000fd;
}

#frase_topo,
#frase_base {
  font-family: "DM Sans", sans-serif;
  color: #fafafa;
}

#frase_topo {
  font-size: 1.5em;
  text-align: center;
  margin-top: 30px;
}

#frase_base {
  margin-top: 2.5em;
  font-size: 1em;
  font-style: italic;
  width: 31em;
  letter-spacing: 1px;
}

#img_ricardo_perfil {
  filter: drop-shadow(-23px 7px 12px #000000e7);
}

#seta_tracejada {
  display: flex;
  position: relative;
  width: 30em;
  left: 5em;
  bottom: -1em;
}

img#polygon2 {
  width: 100%;
  height: auto;
  position: relative;
  left: 20vw;
}

#informacoes_para_contato {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  height: 400px;
  text-align: center;
  margin-top: -37vh;
  margin-left: auto;
  margin-right: auto;
}

#titulo_name {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 2.5em;
}

.bnt_redes,
.informacoes_para_contato > :is(a) {
  position: relative;
}

.bnt_redes {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 7px;
  display: flex;
  width: 100%;
  font-size: 1.4em;
  border-radius: 10em;
  letter-spacing: 1.2px;
  overflow: hidden;
  height: 75px;
  cursor: pointer;
}

#whatsapp {
  background-image: linear-gradient(45deg, #1ff54a, #1bd741, #16b436);
}

#instagram {
  background-image: linear-gradient(45deg, #fa1b87 0%, #fab355, #f73b3b 100%);
}

#facebook {
  background-image: linear-gradient(45deg, #0672ff, #4e95f1, #0e60cc);
}

.name_button {
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.bnt_redes:hover span {
  transform: translateX(15rem);
}

.bnt_redes .icon {
  background-color: #ffffff86;
  height: 64px;
  width: 64px;
  border-radius: 15em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.4em;
  top: 5px;
  transition: all 0.5s;
}

.icon #img_icon {
  margin: 0;
  padding: 0;
  transition: all 0.6s;
}

.bnt_redes:hover .icon #img_icon {
  transform: rotate(360deg);
}

.bnt_redes:hover .icon {
  width: calc(100% - 1.1rem);
  border-radius: 10em;
}

#grid-layout {
  display: flex;
  justify-content: center;
}

#author {
  color: #dad4d4;
  font-size: 1em;
  padding: 5px;
}

#secao_sobre {
  width: 100%;
  height: 79vh;
  overflow: hidden;
  box-shadow: inset 0px 10px 1px #8d0404;
  background-image: url("../img/bg_rede_social(G).webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #070c0c;
}

#p_sobre_mim,
#span_btn_insta,
#spn_frase {
  color: #ffffff;
  text-align: center;
}

.secao_atendimento {
  width: 100%;
  height: 52vh;
  min-height: 900px;
  background-color: #070c0c;
}

#transparent_background {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 52vh;
  min-height: 900px;
  align-content: center;
  text-align: center;
  box-shadow: inset 0px -10px 1px #8d0404;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

#secao_contato {
  overflow: hidden;
  width: 100%;
  height: 55vh;
  min-height: 416px;
  display: flex;
  background-color: #ff0000;
}


#area_img_frase {
  width: 42%;
  display: flex;
  flex-direction: column;
}

#grid_layout {
  display: flex;
  align-items: center;
  width: 450px;
}

.container_contato_redes {
  width: 100%;
  height: auto;
}

#footer_copyright {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  background-color: #111010;
}

/*    SCREEN SIZE     */

@media only screen and (min-width: 320px) {
  img#banner {
    height: 27vh;
  }

  #secao_cartao_apresentacao {
    display: flex;
    flex-direction: column;
    height: 130vh;
    min-height: 620px;
    max-height: 740px;
    justify-content: space-around;
    align-items: center;
  }

  #logo_marca {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
  }

  #container_image {
    width: 100%;
    height: auto;
  }
  
  #container_informacoes_cartao {
    width: 100%;
    height: auto;
  }

  img#polygon1 {
    width: 182%;
    max-width: 184%;
    left: 141vw;
    top: 3vh;
    margin-top: 20vh;
    transform: rotate(90deg);
  }

  #informacoes_cartao {
    margin-top: 41vh;
    margin-bottom: auto;
  }

  #informacoes_cartao h1 {
    text-align: center;
    line-height: 34px;
    width: 100vw;
  }

  #info_cartao_ola, #info_cartao_profissao {
    font-size: 0.5em;
  }

  .info_cartao_nome {
    font-size: 1em;
  }

  #logo_honda {
    width: 91px;
    height: 78px;
    left: 13em;
    top: 0.5em;
  }

  #secao_sobre {
    height: 64vh;
    min-height: 680px;
    background-position: 0 0;
    background-size: 100%;
    background-image: url("../img/bg_rede_social(M).webp");
    background-color: #070c0c;
  }

  #btn_insta {
    width: 284px;
  }

  #conteudo_sobre {
    width: 55vw;
    min-width: 279px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 44vh;
    background-color: transparent;
  }

  #p_sobre_mim {
    margin: 18px 0 0 0;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }

  .secao_atendimento {
    height: 117vh;
    min-height: 1184px;
  }

  #transparent_background {
    display: flex;
    height: 117vh;
    min-height: 1184px;
    padding: 30px;
  }

  #titulo_atendimento {
    font-size: 2.3em;
    font-weight: bold;
    width: 93vw;
    margin-bottom: 10px;
  }

  .cards_atendimento {
    background-color: rgba(255, 255, 255, 0.863);
    margin: 21px 0px 15px 0px;
    width: 290px;
    height: 260px;
    padding: 20px;
  }

  .cards_atendimento:hover {
    margin: 31px 0px 25px 0px;
    transform: translateY(-30px);
  }

  .btn_acesso{
    width: 241px;
    height: 30px;
    font-size: 1.3em;
  }

  #secao_contato {
    height: 133vh;
    min-height: 790px;
    max-height: 876px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
  }

  #area_img_frase {
    height: 51%;
    width: 100%;
  }

  #frase_base, #frase_topo {
    margin-left: auto;
    margin-right: auto;
  } 

  #frase_topo {
    font-size: 1em;
    width: 101vw;
  }

  #img_ricardo_perfil {
    margin-left: 13vw;
    margin-bottom: 15px;
  }
  
  #seta_tracejada {
    display: none;
  }

  #frase_base {
    margin-top: 0;
    font-size: 0.8em;
    text-align: center;
    width: 86vw;
  }

  img#polygon2 {
    width: 132%;
    max-width: 150%;
    left: -16vw;
    top: 6vh;
    margin-top: 4vh;
    transform: rotate(90deg);
  }

  #titulo_name {
    font-size: 2.2em;
  }

  #informacoes_para_contato {
    height: 306px;
    width: 276px;
  }

  .bnt_redes {
    width: 100%;
    height: 63px;
  }

  .bnt_redes .icon {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 480px) {
  img#banner {
    height: 27vh;
  }

  #informacoes_cartao {
    margin-top: 36vh;
  }

  #informacoes_cartao h1  span#info_cartao_ola, span#app, span#info_cartao_profissao {
    margin-left: 7vw;
  }
  
  #logo_honda {
    left: 14em;
    top: -0.5em;
  }

  #info_cartao_ola, #info_cartao_profissao {
    font-size: 0.7em;
  }

  .info_cartao_nome {
    font-size: 1.3em;
  }

  #img_ricardo_perfil {
    margin-left: 25vw;
    margin-bottom: 22px;
    margin-top: 22px;
  }

  #frase_topo {
    font-size: 1.3em;
    width: 91vw;
  }

  img#polygon2 {
    width: 136%;
    left: -18vw;
  }

  #informacoes_para_contato {
    margin-top: -42vh;
  }

}

@media only screen and (min-width: 660px) {
  
  img#banner {
    height: 36vh;
  }

  #secao_cartao_apresentacao {
    display: flex;
    flex-direction: row;
    height: 83vh;
    min-height: 279px;
    max-height: 282px;
  }

  #logo_marca {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23vh;
  }

  #container_image, #container_informacoes_cartao, #area_img_frase, .container_contato_redes {
    width: 50%;
    height: 100%;
  }
  
  img#polygon1 {
    width: 155%;
    max-width: 170%;
    left: 126vw;
    top: 0vh;
    margin-top: 0vh;
    transform: rotate(0deg);
  }

  #informacoes_cartao {
    margin-top: 17vh;
  }

  #informacoes_cartao h1 {
    text-align: start;
    line-height: 23px;
    width: 104vw;
  }

  #informacoes_cartao h1 span#info_cartao_ola, span#app, span#info_cartao_profissao {
    margin-left: 67vw;
  }

  #info_cartao_ola, #info_cartao_profissao {
    font-size: 0.4em;
  }

  .info_cartao_nome {
    font-size: 0.9em;
  }

  #logo_honda {
    left: 37em;
    top: -0.5em;
    width: 60px;
  }

  #secao_sobre {
    height: 46vh;
    min-height: 549px;
    background-color: #070c0c;
  }

  #secao_sobre, #conteudo_sobre {
    height: 46vh;
    min-height: 549px;
  }

  #conteudo_sobre {
    margin-left: 3vw;
    margin-top: 16vh;
    background: #070c0cdb;
    padding: 10px;
  }

  .secao_atendimento, #transparent_background {
    height: 50vh;
    min-height: 900px;
  }

  #secao_contato {
    height: 83vh;
    min-height: 279px;
    max-height: 282px;
    display: flex;
    flex-direction: row;
  }
  
  #frase_topo {
    font-size: 1.2em;
    text-align: center;
    width: 51vw;
    margin-top: 11px;
    margin-left: 20px;
  }

  #frase_base {
    margin-left: 45px;
    width: 39vw;
  }

  #img_ricardo_perfil {
    margin-left: 13vw;
    margin-bottom: 13px;
    margin-top: 11px;
    width: 160px;
    height: 160px;
  }

  img#polygon2 {
    width: 116%;
    max-width: 120%;
    left: -7vw;
    top: -4vh;
    transform: rotate(0deg);
  }

  #informacoes_para_contato {
    margin-top: -72vh;
    margin-right: -6px;
    width: 257px;
  }

  .bnt_redes {
    width: 90%;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .name_button {
    margin-left: 76px;
    margin-right: auto;
    margin-top: 16px;
  }

  #titulo_name {
    font-size: 1.9em;
    margin-left: auto;
    margin-right: auto;
  }



}

@media only screen and (min-width: 1024px) {
    img#banner {
      max-height: 333px;
    }

    #logo_marca {
      left: 4vw;
    }

    img#polygon1 {
      height: 62vh;
      max-height: 416px;
      left: 2vw;
    }

    #informacoes_cartao h1 {
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }

    #info_cartao_ola, #info_cartao_profissao {
      font-size: 0.8em;
    }

    .info_cartao_nome {
      font-size: 1.9em;
    }

    #logo_honda {
      width: 130px;
      height: 125px;
      left: 20em;
      top: 0.5em;
    }

    #secao_sobre {
      height: 35vh;
      min-height: 508px;
      background-size: contain;
      background-position: top right;
    }

    #conteudo_sobre {
      width: 30em;
      display: flex;
      height: 31vh;
      min-height: 457px;
      background: #070c0cdb;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    #p_sobre_mim {
      margin: 35px 0 0 0;
  }

    .secao_atendimento {
      height: 52vh;
      min-height: 900px;
      max-height: 1059px;
    }
    
    #transparent_background {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 52vh;
      min-height: 900px;
      max-height: 1059px;
      padding-bottom: 30px;
    }

    #titulo_atendimento {
      font-size: 3em;
      width: 80vw;
      margin-bottom: 63px;
    }

    .cards_atendimento {
      padding: 5px;
      width: 331px;
      height: 311px;
      margin: 10px 20px 5px 0px;
    }

    .cards_atendimento:hover {
      margin: 50px 40px 5px 0px;
      transform: translate(-10px, -41px);
    }

    .titulo_card {
        font-size: 2.8em;
        padding-bottom: 4px;
    }

    .texto_card {
        font-size: 1.5em;
        font-weight: 700;
    }

    .btn_acesso {
        width: 256px;
        height: 40px;
        font-size: 1.5em;
    }

    #secao_contato {
      height: 26vh;
      align-items: center;
      min-height: 416px;
      max-height: 451px;
    }

    #area_img_frase {
      width: 42%;
      display: inline-flex;
      flex-wrap: wrap;
    }

    #seta_tracejada {
      display: none;
    }

    #frase_topo {
      width: 56vw;
      margin-top: 6px;
      left: 105px;
    }

    #frase_base {
      left: 9em;
      width: auto;
      margin-top: 23px;
      font-size: 1.2em;
      text-align: center;
    }

    img#polygon2 {
      height: 62vh;
      position: sticky;
      max-height: 425px;
      left: 10vw;
    }

    #informacoes_para_contato {
      right: 25px;
      bottom: 35px;
    }

}

@media only screen and (min-width: 1400px) {
  #secao_cartao_apresentacao {
    height: 50vh;
  }

  #logo_marca {
    left: 2vw;
    top: 9vh;
  }

  #container_image {
    width: 34%;
    height: auto;
  }

  img#polygon1 {
    position: sticky;
    height: 50vh;
    min-height: 425px;
    left: 13vw;
  }

  #informacoes_cartao {
    left: 30vw;
    top: 10vh;
  }

  #info_cartao_ola,
  #info_cartao_profissao {
    font-size: 1.1em;
  }

  .info_cartao_nome {
    font-size: 2.15em;
  }

  #logo_honda {
    left: 24em;
    top: 1em;
  }

  #secao_sobre {
    height: 79vh;
    min-height: 545px;
  }

  #conteudo_sobre {
    width: 35vw;
    height: 75vh;
    background-color: #070c0cd6;
  }

  #spn_frase, #span_btn_insta {
    font-size: 1.6em;
}

  span#span_btn_insta:after {
    font-size: 1.3em;
    font-weight: bold;
    top: -6px;
    right: 0;
    left: 114px;
  }

  #p_sobre_mim {
    margin: 80px 0 0 0;
    font-size: 1.9em;
    padding: 10px;
  }

  .secao_atendimento, #transparent_background {
    height: 76vh;
    min-height: 746px;
  }

  .cards_atendimento {
    margin: 65px 40px 15px 0px;
  }

  .cards_atendimento:hover {
    margin: 65px 40px 15px 0px;
    transform: translateY(-50px);
  }

  #titulo_atendimento {
    margin-bottom: 76px;
    font-size: 5em;
    width: 84vw;
  }

  .btn_acesso {
    font-size: 1.25em;
  }

  #frase_topo {
    width: 55vw;
    left: 124px;
  }

  #frase_base {
    left: 16vw;
    margin-top: 30px;
    width: auto;
    font-size: 1.2em;
  }

  #grid_layout {
    margin-left: 42px;
    margin-top: -5px;
  }

  img#polygon2 {
    position: sticky;
    height: 69vh;
    min-height: 473px;
    max-height: 536px;
  }

  #informacoes_para_contato {
    width: 400px;
    right: 18px;
    bottom: 17px;
  }

  #titulo_name {
    font-size: 3.3em;
  }

  .bnt_redes {
      border-radius: 73em;
      margin-bottom: 13px;
      width: 383px;
      height: 92px;
  }

  .bnt_redes .icon {
      height: 81px;
      width: 82px;
  }
  
  .name_button {
    font-size: 1.2em;
    margin-left: 162px;
  }

}

@media only screen and (min-width: 1800px) {

    img#banner {
        max-height: 400px;
    }

    #logo_marca {
      top: 134px;
      left: 10vw;
    }

    img#polygon1 {
        position: sticky;
        max-height: 606px;
        min-height: 602px;
        min-width: 916px;
      }

    #informacoes_cartao {
      left: 24.3vw;
      top: 143px;
    }

    #info_cartao_ola, #info_cartao_profissao {
        font-size: 1.4em;
    }

    .info_cartao_nome {
        font-size: 2.9em;
    }

    #logo_honda {
      width: 203px;
      height: 163px;
      left: 25vw;
      top: 0vh;
    }

    #secao_sobre {
      height: 70vh;
      min-height: 676px;
      max-height: 808px;
    }

    #conteudo_sobre {
        margin-left: 90px;
        margin-top: 83px;
        width: 537px;
    }

    #spn_frase, #span_btn_insta {
        font-style: italic;
        font-size: 2.2em;
    }

    #btn_insta {
        margin-top: 20px;
        width: 436px;
        height: 75px;
        border-radius: 40px;
    }

    span#span_btn_insta:after {
        font-size: 1.5em;
        top: -13px;
    }
    
    button#btn_insta:hover span#span_btn_insta:after {
        right: -17px;
    }

    #p_sobre_mim {
        margin: 55px 0 0 0;
        font-size: 2.1em;
    }

    .secao_atendimento, #transparent_background {
      height: 60vh;
      min-height: 600px;
      max-height: 900px;
    }

    #titulo_atendimento {
        font-size: 5em;
        width: 31vw;
    }

    .cards_atendimento {
        margin: 48px 31px 27px 0px;
        width: 340px;
        height: 290px;
    }

    .cards_atendimento:hover {
        margin: 48px 31px 27px 0px;
        transform: translateY(-70px);
    }

    .titulo_card {
        font-size: 2.8em;
        padding-bottom: 4px;
    }

    .texto_card {
        font-size: 1.5em;
        font-weight: 700;
    }

    .btn_acesso {
        width: 256px;
        height: 40px;
        font-size: 1.5em;
    }

    #secao_contato {
        height: 55vh;
        min-height: 414px;
        max-height: 602px;
    }

    #area_img_frase {
        justify-content: space-evenly;
    }

    #seta_tracejada {
      display: flex;
      width: 600px;
      height: 320px;
    }

    #frase_topo {
      width: 52vw;
      font-size: 2em;
      left: 185px;
    }

    #img_ricardo_perfil {
      width: 321px;
      height: 321px;
    }

    #frase_base {
        left: 18.5vw;
        margin-top: 3px;
        width: 40vw;
        min-width: 700px;
        font-size: 1.6em;
    }

    #grid_layout {
        margin-left: 60px;
    }

    img#polygon2 {
      position: sticky;
      min-height: 543px;
      max-height: 606px;
    }

    #informacoes_para_contato {
      width: 400px;
      right: 70px;
      top: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    #titulo_name {
        margin-bottom: 5px;
        width: 23vw;
        font-size: 3.6em;
    }

    .bnt_redes {
        border-radius: 73em;
        margin-bottom: 20px;
        width: 383px;
        height: 92px;
    }

    .bnt_redes .icon {
        height: 81px;
        width: 82px;
    }

    .bnt_redes:hover span {
        transform: translateX(18rem);
    }

    .name_button {
      margin-left: 162px;
    }
    
}

@media only screen and (min-width: 2500px) {
  
    #secao_cartao_apresentacao {
      height: 60vh;
      max-height: 620px;
    }

    #logo_marca {
      left: 9vw;
      top: 82px;
    }

    img#polygon1 {
        position: sticky;
        max-height: 620px;
        min-height: 620px;
        min-width: 916px;
    }

    #informacoes_cartao {
      left: 36vw;
      top: 124px;
    }

    .info_cartao_nome {
      font-size: 3.2em;
    }
    
    #info_cartao_ola, #info_cartao_profissao {
        font-size: 1.5em;
    }
    
    #logo_honda {
        left: 22vw;
        top: 1vh;
        width: 183px;
        height: 151px;
    }

    #secao_sobre {
      height: 96vh;
      min-height: 883px;
      max-height: 990px;
    }

    #conteudo_sobre {
      width: 600px;
      margin-left: 261px;
      margin-top: 120px;
    }
    
    #btn_insta {
      margin-top: 20px;
      width: 436px;
      height: 75px;
      border-radius: 40px;
    }

    span#span_btn_insta:after {
      font-size: 1.3em;
      font-weight: bold;
      top: -7px;
      left: 156px;
    }

    #spn_frase, #span_btn_insta {
      font-size: 2.2em;
    }

    #p_sobre_mim {
      font-size: 2.4em;
    }

    .secao_atendimento {
      height: 78vh;
      min-height: 742px;
    }

    #transparent_background {
      height: 78vh;
      min-height: 742px;
    }

    #titulo_atendimento {
      font-size: 4em;
      width: 39vw;
      margin-bottom: 10px;
    }
    
    .cards_atendimento {
      margin: 48px 31px 27px 0px;
      width: 400px;
      height: 340px;
      border-radius: 3rem;
      display: flex;
      text-align: center;
      flex-direction: column;
    }

    .titulo_card {
      padding-bottom: 25px;
    }

    .texto_card {
      font-size: 1.8em;
    }

    .cards_atendimento > :is(a) {
      top: 40px;
    }

    .btn_acesso {
      width: 300px;
      height: 40px;
      font-size: 1.8em;
    }

    .cards_atendimento:hover {
        margin: 48px 31px 27px 0px;
        transform: translateY(-70px);
    }

    #img_ricardo_perfil {
      width: 321px;
      height: 321px;
    }
    
    #seta_tracejada {
      display: flex;
      width: 600px;
      height: 320px;
    }

    #frase_topo {
      left: 470px;
      font-size: 2.7em;
      width: 53vw;
    }

    #frase_base {
      margin-top: 7px;
      left: 27.5vw;
      top: 54px;
      font-size: 1.9em;
    }

    #informacoes_para_contato {
      width: 460px;
      right: 44px;
      top: 76px;
    }
  
    #titulo_name {
      font-size: 4em;
    }

    img#polygon2 {
      position: sticky;
      min-height: 688px;
    }

    .bnt_redes {
      width: 435px;
      height: 105px;
      margin-bottom: 15px;
    }

    .bnt_redes .icon {
      height: 94px;
      width: 94px;
    }

    .bnt_redes:hover span {
      transform: translateX(19rem);
    }

    .name_button {
      font-size: 1.5em;
    }

    #grid_layout {
      margin-left: 560px;
    }

    #footer_copyright {
      height: 43px;
    }

    #author {
      font-size: 1.5em;
      padding: 5px;
    }

}