/*Resetando valores*/
body {
  background-color: #111010;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
}

/*Estilizando scroll*/

.Typewriter__cursor {
  color: #ff0000;
  margin: 0;
  padding: 0;
}

.Typewriter__wrapper {
  color: #ff0000;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}

/*--Estilizando pagina--*/

/*   ***Sessao 1*** */
div#divisoria {
  height: 5px;
  background: #000000cc;
}

#secao_cartao_apresentacao {
  display: flex;
  background-color: #da0000;
  width: 100%;
  min-height: 414px;
  overflow: hidden;
}

#logo_marca {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

img#polygon1 {
  display: none;
}

#container_image {
  width: 34%;
  height: auto;
}

#container_informacoes_cartao {
  background: #f4f4f4;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

div#informacoes_cartao {
  margin-top: auto;
  height: 13rem;
}

#informacoes_cartao h1 {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  width: 90vw;
}

.info_cartao_nome {
  font-size: 0.8em;
}

#info_cartao_ola,
#info_cartao_profissao {
  font-size: 0.7em;
}

#logo_honda {
  width: 70px;
  height: 55px;
  position: relative;
  left: 36vw;
  top: 0.5em;
}

#conteudo_sobre {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 300px;
  margin-left: 60px;
  margin-top: 35px;
  padding-top: 16px;
  text-align: center;
  background-color: #070c0c;
}

#spn_frase,
#span_btn_insta {
  font-style: italic;
  font-size: 1.4em;
}

#btn_insta {
  margin-top: 15px;
  width: 341px;
  height: 56px;
  cursor: pointer;
  background: linear-gradient(
    95deg,
    #002296,
    #82008f,
    #c0007a,
    #ea0c5f,
    #ff5341,
    #ff8820,
    #d3a313,
    #002296
  );
  background-size: 300%;
  border-radius: 30px;
}

#btn_insta:hover {
  animation: ani 5s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

#span_btn_insta {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-weight: 600;
}

span#span_btn_insta:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

button#btn_insta:hover span#span_btn_insta {
  padding-right: 15px;
}

button#btn_insta:hover span#span_btn_insta:after {
  opacity: 1;
  right: 0;
}

#p_sobre_mim {
  margin: 90px 0 0 0;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

#titulo_atendimento {
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  font-size: 4em;
  font-weight: bold;
  width: 39vw;
  margin-bottom: 10px;
}

.cards_atendimento {
  background-color: rgba(255, 255, 255, 0.863);
  margin: 55px 40px 15px 0px;
  width: 290px;
  height: 260px;
  padding: 20px;
  border-radius: 1rem;
  border: #037c83c0 2px solid;
  transition: all 0.2s ease-in;
  box-shadow: 0.4rem 0.4rem 0.9rem #05535efd;
}

.cards_atendimento:hover {
  margin: 50px 40px 15px 0px;
  border: #f2295be7 2px solid;
  border-radius: 2.5rem 0 2.5rem 0;
  box-shadow: 0.6rem 0.4rem 0.9rem #f2295bf6;
}

.titulo_card,
.texto_card {
  text-align: center;
}

.titulo_card {
  padding-bottom: 12px;
  font-weight: bold;
  font-style: italic;
  font-family: "DM Sans", sans-serif;
}

.texto_card {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  white-space: normal;
  overflow: hidden;
}

.cards_atendimento > :is(a) {
  position: relative;
  top: 31px;
}

.btn_acesso {
  background-color: #bb0101;
  color: #ffffff;
  font-size: 1em;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  width: 235px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.cards_atendimento:hover .btn_acesso {
  transform: translateY(-10px);
  border-radius: 2.5rem 0 2.5rem 0;
  box-shadow: 0rem 0.2rem 0rem #000000fd;
}

.cards_atendimento:hover .btn_acesso:active {
  box-shadow: inset -0.2rem -0.1rem 0.3rem #000000fd, inset 0 0 0.5rem #000000fd;
}

#frase_topo,
#frase_base {
  font-family: "DM Sans", sans-serif;
  color: #fafafa;
}

#frase_topo {
  font-size: 1.5em;
  text-align: center;
  margin-top: 30px;
}

#frase_base {
  margin-top: 2.5em;
  font-size: 1em;
  font-style: italic;
  width: 31em;
  letter-spacing: 1px;
}

#img_ricardo_perfil {
  filter: drop-shadow(-23px 7px 12px #000000e7);
}

#seta_tracejada {
  display: flex;
  position: relative;
  width: 30em;
  left: 5em;
  bottom: -1em;
}

img#polygon2 {
  width: 100%;
  height: auto;
  position: absolute;
  left: 20vw;
}

#informacoes_para_contato {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 360px;
  height: 400px;
  text-align: center;
  margin-top: -37vh;
  margin-left: auto;
  margin-right: auto;
}

#titulo_name {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-size: 2.5em;
}

.bnt_redes,
.informacoes_para_contato > :is(a) {
  position: relative;
}

.bnt_redes {
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 7px;
  display: flex;
  width: 100%;
  font-size: 1.4em;
  border-radius: 10em;
  letter-spacing: 1.2px;
  overflow: hidden;
  height: 75px;
  cursor: pointer;
}

#whatsapp {
  background-image: linear-gradient(45deg, #1ff54a, #1bd741, #16b436);
}

#instagram {
  background-image: linear-gradient(45deg, #fa1b87 0%, #fab355, #f73b3b 100%);
}

#facebook {
  background-image: linear-gradient(45deg, #0672ff, #4e95f1, #0e60cc);
}

.name_button {
  transition: all 0.3s ease-in-out;
  margin: auto;
}

.bnt_redes:hover span {
  transform: translateX(15rem);
}

.bnt_redes .icon {
  background-color: #ffffff86;
  height: 64px;
  width: 64px;
  border-radius: 15em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0.4em;
  top: 5px;
  transition: all 0.5s;
}

.icon #img_icon {
  margin: 0;
  padding: 0;
  transition: all 0.6s;
}

.bnt_redes:hover .icon #img_icon {
  transform: rotate(360deg);
}

.bnt_redes:hover .icon {
  width: calc(100% - 1.1rem);
  border-radius: 10em;
}

#grid-layout {
  display: flex;
  justify-content: center;
}

#author {
  color: #dad4d4;
  font-size: 1em;
  padding: 5px;
}

#secao_sobre {
  width: 100%;
  height: 79vh;
  overflow: hidden;
  box-shadow: inset 0px 10px 1px #8d0404;
  background-image: url("../img/bg_rede_social(G).webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #070c0c;
}

#p_sobre_mim,
#span_btn_insta,
#spn_frase {
  color: #ffffff;
  text-align: center;
}

.secao_atendimento {
  width: 100%;
  height: 52vh;
  min-height: 900px;
  background-color: #070c0c;
}

#transparent_background {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 52vh;
  min-height: 900px;
  align-content: center;
  text-align: center;
  box-shadow: inset 0px -10px 1px #8d0404;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

#secao_contato {
  overflow: hidden;
  width: 100%;
  height: 55vh;
  min-height: 416px;
  display: flex;
  background-color: #ff0000;
}

#area_img_frase {
  width: 42%;
  display: flex;
  flex-direction: column;
}

#grid_layout {
  display: flex;
  align-items: center;
  width: 450px;
}

.container_contato_redes {
  width: 100%;
  height: 460px;
}

#footer_copyright {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #111010;
}

#div-layout p {
 font-family: 'IBM Plex Sans Thai Looped', sans-serif;
 margin-top: 0.5rem;
}

/*    SCREEN SIZE     */

@media only screen and (min-width: 320px) {
  img#banner {
    height: 27vh;
  }

  #secao_cartao_apresentacao {
    display: flex;
    flex-direction: column;
    height: 130vh;
    min-height: 620px;
    max-height: 640px;
    justify-content: space-around;
    align-items: center;
  }

  #container_image {
    width: 100%;
    height: 330px;
  }

  #info_cartao_ola, #info_cartao_profissao {
    font-size: 0.5em;
  }

  #logo_honda {
    width: 70px;
    height: 55px;
  }

  #secao_sobre {
    min-height: 800px;
    background-position: 0 0;
    background-size: 100%;
    background-image: url("../img/bg_rede_social(P).webp");
    background-color: #070c0c;
  }

  #btn_insta {
    width: 284px;
  }

  #conteudo_sobre {
    width: 55vw;
    min-width: 279px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 330px;
    background-color: #070c0cdb;
  }

  #p_sobre_mim {
    margin: 18px 0 0 0;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }

  .secao_atendimento {
    height: 117vh;
    min-height: 1184px;
  }

  #transparent_background {
    display: flex;
    height: 117vh;
    min-height: 1184px;
    padding: 30px;
  }

  #titulo_atendimento {
    font-size: 2.3em;
    font-weight: bold;
    width: 93vw;
    margin-bottom: 10px;
  }

  .cards_atendimento {
    background-color: rgba(255, 255, 255, 0.863);
    margin: 21px 0px 15px 0px;
    width: 290px;
    height: 260px;
    padding: 20px;
  }

  .cards_atendimento:hover {
    margin: 31px 0px 25px 0px;
    transform: translateY(-30px);
  }

  .btn_acesso{
    width: 241px;
    height: 30px;
    font-size: 1.3em;
  }

  #secao_contato {
    height: 133vh;
    min-height: 790px;
    max-height: 876px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: stretch;
  }

  #area_img_frase {
    height: 51%;
    width: 100%;
  }

  #frase_base, #frase_topo {
    margin-left: auto;
    margin-right: auto;
  } 

  #frase_topo {
    font-size: 1em;
    width: auto;
  }

  #img_ricardo_perfil {
    margin-left: 15vw;
    margin-bottom: 15px;
  }
  
  #seta_tracejada {
    display: none;
  }

  #frase_base {
    margin-top: 0;
    font-size: 0.8em;
    text-align: center;
    width: auto;
  }

  .container_contato_redes {
    height: 394px;
  }

  img#polygon2 {
    width: 132%;
    max-width: 150%;
    left: -16vw;
    top: 0vh;
    margin-top: 4vh;
    transform: rotate(90deg);
  }

  #titulo_name {
    font-size: 2.2em;
  }

  #informacoes_para_contato {
    height: 306px;
    width: 276px;
    margin-top: 108px;
  }

  .bnt_redes {
    width: 100%;
    height: 63px;
  }

  .bnt_redes .icon {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (min-width: 481px) {
  img#banner {
    height: 27vh;
  }

  #informacoes_cartao {
    margin-top: 5vh;
  }

  #secao_cartao_apresentacao {
    background-size: cover;
  }

  #informacoes_cartao h1 {
    line-height: 32px;
  }

  #info_cartao_ola, #info_cartao_profissao {
    font-size: 0.7em;
  }
  
  .info_cartao_nome {
    font-size: 1.2em;
  }
  
  #logo_honda {
    left: 42vw;
    top: -1em;
  }

  #conteudo_sobre {
    margin-top: 400px;
  }

  #img_ricardo_perfil {
    margin-left: 29vw;
    margin-bottom: 18px;
    margin-top: 8px;
  }

  #frase_topo {
    font-size: 1.3em;
    width: 91vw;
  }

  img#polygon2 {
    width: 132%;
    left: -16vw;
  }

  #informacoes_para_contato {
    margin-top: 108px;
  }

}

@media only screen and (min-width: 660px) {
  
  img#banner {
    height: 36vh;
    max-height: 209px;
  }

  #secao_cartao_apresentacao {
    display: flex;
    flex-direction: row;
    height: 83vh;
    min-height: 279px;
    max-height: 282px;
  }

  #logo_marca {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5em;
  }

  #container_image, #container_informacoes_cartao, #area_img_frase, .container_contato_redes {
    width: 50%;
    height: 100%;
  }
  
  #container_informacoes_cartao {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
  }

  div#informacoes_cartao {
    margin-top: 8rem;
    height: 16rem;
    margin-left: 14.5rem;
  }

  #informacoes_cartao h1 {
    text-align: start;
    line-height: 23px;
    width: 24rem;
  }

  #info_cartao_ola, #info_cartao_profissao {
    font-size: 0.5em;
  }

  .info_cartao_nome {
    font-size: 1em;
  }

  #logo_honda {
    left: 25vw;
    top: -0.5em;
    width: 60px;
  }

  #secao_sobre {
    height: 46vh;
    min-height: 549px;
    background-color: #070c0c;
  }

  #secao_sobre, #conteudo_sobre {
    height: 46vh;
    min-height: 549px;
  }

  #conteudo_sobre {
    margin-left: 3vw;
    margin-top: 2vh;
    background: #070c0cdb;
    padding: 10px;
  }

  .secao_atendimento, #transparent_background {
    height: 50vh;
    min-height: 900px;
  }

  #secao_contato {
    height: 83vh;
    min-height: 279px;
    max-height: 282px;
    display: flex;
    flex-direction: row;
  }
  
  #frase_topo {
    font-size: 1.2em;
    text-align: center;
    width: 51vw;
    margin-top: 11px;
    margin-left: 20px;
  }

  #frase_base {
    margin-left: 45px;
    width: 39vw;
  }

  #img_ricardo_perfil {
    margin-left: 13vw;
    margin-bottom: 13px;
    margin-top: 11px;
    width: 160px;
    height: 160px;
  }

  img#polygon2 {
    width: 116%;
    max-width: 120%;
    left: -7vw;
    top: -4vh;
    transform: rotate(0deg);
  }

  #informacoes_para_contato {
    margin-top: 0vh;
    margin-right: -2px;
    width: 257px;
    height: 271px;
  }

  .bnt_redes {
    width: 90%;
    height: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .name_button {
    margin-left: 76px;
    margin-right: auto;
    margin-top: 16px;
  }

  #titulo_name {
    font-size: 1.9em;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 1024px) {
    #logo_marca {
      left: 4vw;
      margin-top: 2.5em;
    }

    div#informacoes_cartao {
      margin-top: 6.6rem;
      height: 16rem;
      margin-left: 11.5rem;
    }

    #informacoes_cartao h1 {
      width: 380px;
      line-height: 30px;
      margin-left: auto;
      margin-right: auto;
    }

    #info_cartao_ola, #info_cartao_profissao {
      font-size: 0.5em;
    }

    .info_cartao_nome {
      font-size: 1.3em;
    }

    #logo_honda {
    width: 70px;
    height: 70px;
    left: 17em;
    top: -2rem;
    }

    #secao_sobre {
      height: 35vh;
      min-height: 508px;
      background-image: url("../img/bg_rede_social(G).webp");
      background-size: contain;
      background-position: top right;
    }

    #conteudo_sobre {
      width: 30em;
      display: flex;
      height: 31vh;
      min-height: 457px;
      background: #070c0c36;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
    }

    #p_sobre_mim {
      margin: 35px 0 0 0;
  }

    .secao_atendimento {
      height: 52vh;
      min-height: 900px;
      max-height: 1059px;
    }
    
    #transparent_background {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 52vh;
      min-height: 900px;
      max-height: 1059px;
      padding-bottom: 30px;
    }

    #titulo_atendimento {
      font-size: 3em;
      width: 80vw;
      margin-bottom: 63px;
    }

    .cards_atendimento {
      padding: 5px;
      width: 331px;
      height: 311px;
      margin: 10px 20px 5px 0px;
    }

    .cards_atendimento:hover {
      margin: 50px 40px 5px 0px;
      transform: translate(-10px, -41px);
    }

    .titulo_card {
        font-size: 2.8em;
        padding-bottom: 4px;
    }

    .texto_card {
        font-size: 1.5em;
        font-weight: 700;
    }

    .btn_acesso {
        width: 256px;
        height: 40px;
        font-size: 1.5em;
    }

    #secao_contato {
      height: 26vh;
      align-items: center;
      min-height: 416px;
      max-height: 451px;
    }

    #area_img_frase {
      width: 63%;
      display: inline-flex;
      flex-wrap: wrap;
    }

    #seta_tracejada {
      display: none;
    }

    #frase_topo {
      width: auto;
      margin-top: 60px;
      left: 105px;
    }

    #frase_base {
      width: auto;
      margin-left: 8vw;
      margin-top: 23px;
      font-size: 0.9em;
      text-align: center;
    }

    #img_ricardo_perfil {  
      margin-left: 20vw;
      margin-bottom: 5px;
      margin-top: 11px;
      width: 200px;
      height: 200px;
    }

    .container_contato_redes {
      width: auto;
    }

    img#polygon2 {
      min-width: 102%;
      max-width: 200%;
      max-height: 101%;
      left: -4vw;
      position: relative;
    }

    #informacoes_para_contato {
      margin-top: -26em;
      margin-right: 27px;  
      width: 300px;
      height: 300px;
    }

    .bnt_redes {
      width: 284px;
      height: 73px;
    }

    .bnt_redes .icon {
      height: 64px;
      width: 64px;
    }
    
    .name_button {
      margin-top: 21px;
      margin-left: 119px;
    }

}

@media only screen and (min-width: 1400px) {
  #secao_cartao_apresentacao {
    height: 46vh;
    min-height: 300px;
    max-height: 392px;
  }

  #logo_marca {
    margin-top: -2em;
  }

  #container_image {
    width: 34%;
    height: auto;
  }

  #container_informacoes_cartao {
    width: 66%;
    clip-path: polygon(20% 50%, 100% 100%, 100% 0%);
  }

  div#informacoes_cartao {
    margin-top: 5.2rem;
    margin-left: 30.5rem;
  }

  #informacoes_cartao h1 {
    width: 460px;
    line-height: 40px;
  }

  #info_cartao_ola,
  #info_cartao_profissao {
    font-size: 0.8em;
  }

  .info_cartao_nome {
    font-size: 1.6em;
  }

  #logo_honda {
    left: 23em;
    top: -3em;
    width: 83px;
    height: 83px;
  }

  #secao_sobre {
    height: 79vh;
    min-height: 545px;
  }

  #conteudo_sobre {
    width: 34vw;
    height: 75vh;
    max-width: 522px;
    background-color: #070c0cd6;
  }

  #spn_frase, #span_btn_insta {
    font-size: 1.6em;
  }

  span#span_btn_insta:after {
    font-size: 1.3em;
    font-weight: bold;
    top: -6px;
    right: 0;
    left: 114px;
  }

  #p_sobre_mim {
    margin: 80px 0 0 0;
    font-size: 1.9em;
    padding: 10px;
  }

  .secao_atendimento, #transparent_background {
    height: 76vh;
    min-height: 746px;
  }

  .cards_atendimento {
    margin: 65px 40px 15px 0px;
  }

  .cards_atendimento:hover {
    margin: 48px 31px 27px 0px;
    transform: translateY(-10px);
  }

  #titulo_atendimento {
    margin-bottom: 76px;
    font-size: 5em;
    width: 84vw;
  }

  .btn_acesso {
    font-size: 1.25em;
  }

  #frase_topo {
    margin-top: 24px;
    width: 55vw;
  }

  #frase_base {
    margin-top: 0px;
    width: auto;
    font-size: 1.2em;
  }

  #img_ricardo_perfil {
    margin-left: 13vw;
    margin-bottom: 5px;
    margin-top: 11px;
    width: 265px;
    height: 240px;
  }

  #seta_tracejada {
    display: flex;
    width: 451px;
    height: 320px;
    left: -2em;
  }

  #grid_layout {
    margin-left: -17px;
    margin-top: -5px;
  }

  img#polygon2 {
    left: -3vw;
  }

  #informacoes_para_contato {
    margin-top: -26em;
    margin-right: 16px;
    width: 381px;
  }

  #titulo_name {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1800px) {
    #secao_cartao_apresentacao {
      height: 45vh;
      min-height: 400px;
      max-height: 480px;
    }

    div#informacoes_cartao {
      margin-top: 2rem;
      margin-left: 38.5rem;
    }
    
    #informacoes_cartao h1 {
      width: 640px;
      line-height: 58px;
    }

    #info_cartao_ola, #info_cartao_profissao {
        font-size: 1.1em;
    }

    .info_cartao_nome {
        font-size: 2.3em;
    }

    #logo_honda {
      left: 26vw;
      top: -2em;
      width: 100px;
      height: 100px;
  }

    #secao_sobre {
      height: 70vh;
      min-height: 676px;
      max-height: 808px;
    }

    #conteudo_sobre {
      width: 33vw;
      height: 66vh;
      max-width: 590px;
    }

    #spn_frase, #span_btn_insta {
      font-style: italic;
      font-size: 2.2em;
    }

    #btn_insta {
      margin-top: 20px;
      width: 436px;
      height: 75px;
      border-radius: 40px;
    }

    span#span_btn_insta:after {
      font-size: 1.5em;
      top: -13px;
    }
    
    button#btn_insta:hover span#span_btn_insta:after {
      right: -54px;
    }

    #p_sobre_mim {
        margin: 55px 0 0 0;
        font-size: 2.1em;
    }

    .secao_atendimento, #transparent_background {
      height: 60vh;
      min-height: 600px;
      max-height: 900px;
    }

    #titulo_atendimento {
        font-size: 5em;
        width: 31vw;
    }

    .cards_atendimento {
        margin: 48px 31px 27px 0px;
        width: 340px;
        height: 290px;
    }

    .cards_atendimento:hover {
        margin: 48px 31px 27px 0px;
        transform: translateY(-70px);
    }

    .titulo_card {
        font-size: 2.8em;
        padding-bottom: 4px;
    }

    .texto_card {
        font-size: 1.5em;
        font-weight: 700;
    }

    .btn_acesso {
        width: 256px;
        height: 40px;
        font-size: 1.5em;
    }

    #secao_contato {
        height: 55vh;
        min-height: 414px;
        max-height: 602px;
    }

    #area_img_frase {
        justify-content: space-evenly;
    }

    #seta_tracejada {
      display: flex;
      width: 600px;
      height: 320px;
    }

    #frase_topo {
      width: 52vw;
      font-size: 2em;
      margin-left: 82px;
    }

    #img_ricardo_perfil {
      width: 321px;
      height: 321px;
    }

    #frase_base {
        margin-top: 3px;
        width: 43vw;
        font-size: 1.6em;
    }

    #grid_layout {
      margin-left: -74px;
    }

    img#polygon2 {
      left: -2vw;
    }

    #informacoes_para_contato {
      margin-top: -36em;
      margin-right: 68px;
    }

    #titulo_name {
        margin-bottom: 5px;
        width: 23vw;
        font-size: 3.6em;
    }

    .bnt_redes {
      margin-bottom: 22px;
      width: 420px;
      height: 100px;
    }

    .bnt_redes .icon {
      height: 89px;
        width: 89px;
    }

    .bnt_redes:hover span {
        transform: translateX(18rem);
    }

    .name_button {
      margin-left: 162px;
      margin-top: 36px;
    }
    
}

@media only screen and (min-width: 2500px) {
    #secao_cartao_apresentacao {
      height: 60vh;
      max-height: 620px;
    }

    #logo_marca {
      left: 9vw;
      top: 82px;
    }

    div#informacoes_cartao {
      margin-top: -2rem;
      margin-left: 41.5rem;
    }

    #informacoes_cartao h1 {
      width: 673px;
      line-height: 76px;
    }

    .info_cartao_nome {
      font-size: 2.8em;
    }
    
    #info_cartao_ola, #info_cartao_profissao {
      font-size: 1.4em;
    }
    
    #logo_honda {

      width: 161px;
      height: 128px;
    }

    #secao_sobre {
      height: 96vh;
      min-height: 883px;
      max-height: 990px;
    }

    #conteudo_sobre {
      width: 841px;
      max-width: 900px;
      margin-left: 192px;
      margin-top: 89px;
    }
    
    #spn_frase, #span_btn_insta {
      font-size: 2.7em;
    }

    #p_sobre_mim {
      font-size: 3.1em;
      line-height: 1.2em;
    }
    
    #btn_insta {
      width: 547px;
      height: 93px;
      border-radius: 50px;
    }

    span#span_btn_insta:after {
      font-size: 1.3em;
      font-weight: bold;
      top: -11px;
      left: 156px;
    }

    .secao_atendimento {
      height: 78vh;
      min-height: 742px;
    }

    #transparent_background {
      height: 78vh;
      min-height: 742px;
    }

    #titulo_atendimento {
      font-size: 4em;
      width: 39vw;
      margin-bottom: 10px;
    }
    
    .cards_atendimento {
      margin: 48px 31px 27px 0px;
      width: 400px;
      height: 340px;
      border-radius: 3rem;
      display: flex;
      text-align: center;
      flex-direction: column;
    }

    .titulo_card {
      padding-bottom: 25px;
    }

    .texto_card {
      font-size: 1.8em;
    }

    .cards_atendimento > :is(a) {
      top: 40px;
    }

    .btn_acesso {
      width: 300px;
      height: 40px;
      font-size: 1.8em;
    }

    #img_ricardo_perfil {
      margin-left: 7vw;
      width: 376px;
      height: 370px;
    }
    
    #seta_tracejada {
      width: 715px;
      height: 404px;
    }

    #frase_topo {
      margin-top: 5px;
      font-size: 2.7em;
      width: 62vw;
    }

    #frase_base {
      margin-top: 0px;
      margin-left: 12vw;
      font-size: 1.9em;
    }

    #informacoes_para_contato {
      margin-top: -40em;
      margin-right: 156px;
    }
  
    #titulo_name {
      width: 18vw;
      font-size: 4em;
    }

    img#polygon2 {
      min-width: 122%;
      max-width: 213%;
      max-height: 111%;
      left: -6vw;
    }

    #grid_layout {
      margin-left: 131px;
    }

    #footer_copyright {
      height: 43px;
    }

    #author {
      font-size: 1.5em;
      padding: 5px;
    }

}